* {
    background-color: #000000;
    color: #00cc00;
}

li {
  list-style-position: inside;
}

.terminal {
    text-align: left;
    border: 2px solid #00cc00;
}

.container {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

img {
    height: 100%;
    width: auto;
}

.top-panel {
    background-color: #00cc00;
    height: 10px;
}

.terminal-text {
    padding: 5px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}